*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lampada-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#botoes button{
    width: 100px;
    padding: 12px;
    cursor: pointer;
}

footer{
    margin-top: 20px;
}